global:
  dockerRegistrySecret: "" # leave empty if public repo
  baseRepo: "quay.io/datashim-io"
  arch: "amd64"
  type: "k8s"
  namespaceYaml: true
  # affinity configuration for Datashim deployments. Ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#affinity-and-anti-affinity
  # affinity:
  #   nodeAffinity:
  #     requiredDuringSchedulingIgnoredDuringExecution:
  #       nodeSelectorTerms:
  #       - matchExpressions:
  #         - key: kubernetes.io/os
  #           operator: In
  #           values:
  #           - linux
  affinity: {}
  sidecars:
    kubeletPath: "/var/lib/kubelet"
    baseRepo: "registry.k8s.io/sig-storage"
    images:
      externalAttacher:
        image: "csi-attacher"
        tag: "v4.7.0"
      nodeDriverRegistrar:
        image: "csi-node-driver-registrar"
        tag: "v5.1.0"
      externalProvisioner:
        image: "csi-provisioner"
        tag: "v2.12.0"

csi-nfs-chart:
  # baseRepo: "anotherrepo"
  # dockerRegistrySecret: "anothersecret"
  enabled: true
  csinfs:
    image: "csi-nfs"
    tag: "latest"
  sidecars: {} # in case you want to force override regardless of the csi-nfs-chart/values.yaml
  affinity: {}

csi-s3-chart:
  # baseRepo: "anotherrepo"
  # dockerRegistrySecret: "anothersecret"
  # mounter: "goofys"
  enabled: true
  csis3:
    image: "csi-s3"
    tag: "latest"
  sidecars: {} # in case you want to force override regardless of the csi-s3-chart/values.yaml
  affinity: {}

csi-h3-chart:
  #  baseRepo: "carvicsforth"
  ## dockerRegistrySecret: "anothersecret"
  enabled: false
  csih3:
    image: "csi-h3"
    tag: "v1.2.0"
  sidecars: {}

dataset-operator-chart:
  #  baseRepo: "quay.io/datashim"
  # dockerRegistrySecret: "anothersecret"
  generatekeys:
    image: "generate-keys"
    tag: "latest"
  datasetoperator:
    image: "dataset-operator"
    tag: "latest"
