<configuration>
  
  <property>
    <name>metastore.thrift.uris</name>
    <value>thrift://hivemetastore:9083</value>
  </property>

  <property>
    <name>hive.metastore.schema.verification</name>
    <value>false</value>
  </property>

  <property>
    <name>hive.metastore.warehouse.dir</name>
    <value>file:///tmp</value>
  </property>
  
  <property>
    <name>fs.default.name</name>
    <value>file:///tmp</value>
  </property>

  <property>
    <name>fs.s3a.impl</name>
    <value>org.apache.hadoop.fs.s3a.S3AFileSystem</value>
  </property>

  <property>
    <name>fs.s3a.endpoint</name>
    <value>${S3_ENDPOINT}</value>
  </property>

  <property>
    <name>hive.exec.scratchdir</name>
    <value>/tmp/hive</value>
  </property>

  <property>
    <name>hive.server2.transport.mode</name>
    <value>http</value>
  </property>

  <property>
    <name>hive.server2.thrift.http.port</name>
    <value>10001</value>
  </property>

  <property>
    <name>hive.server2.thrift.http.path</name>
    <value>cliservice</value>
  </property>

  <property>
    <name>hive.server2.thrift.http.min.worker.threads</name>
    <value>5</value>
  </property>

  <property>
    <name>hive.server2.thrift.http.max.worker.threads</name>
    <value>500</value>
  </property>

  <property>
    <name>hive.server2.logging.operation.enabled</name>
    <value>true</value>
  </property>

  <property>
    <name>hive.server2.logging.operation.level</name>
    <value>PERFORMANCE</value>
  </property>

  <property>
    <name>mapred.input.dir.recursive</name>
    <value>true</value>
  </property>

  <property>
    <name>hive.mapred.supports.subdirectories</name>
    <value>true</value>
  </property>
      
  <property>
    <name>hive.server2.active.passive.ha.enable</name>
    <value>true</value>
  </property>

  <property>
    <name>hive.execution.engine</name>
    <value>tez</value>
  </property>

  <property>
    <name>hive.metastore.event.db.notification.api.auth</name>
    <value>false</value>
  </property>

</configuration>
