---
apiVersion: v1
kind: Secret
metadata:
  name: s3-secret
type: Opaque
stringData:
  #Hadoop AWS looks for these environment variables
  #while setting up Hive connector
  AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
  AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
