# WE DON'T CREATE SECRETS ON THE PROVISIONER LEVEL
# JUST PER DATASET
apiVersion: v1
kind: Secret
metadata:
  name: csi-s3-pvc
stringData:
  accessKeyID: <YOUR_ACCESS_KEY_ID>
  secretAccessKey: <YOUR_SECRET_ACCES_KEY>
  # For AWS set it to "https://s3.<region>.amazonaws.com"
  endpoint: https://s3.eu-central-1.amazonaws.com
  bucket: "test-yiannis-2" #if exists, it will mount and not delete it
  # If not on S3, set it to ""
  region: <S3_REGION>
