name: Update GitHub website
on:
  push:
    # branches:
    #   - master
    paths:
      - "docs/**"
      - mkdocs.yml
      - Pipfile
      - .github/workflows/ci.yml

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - run: python -m pip install --upgrade pipenv wheel
      - run: pipenv update
      - run: pipenv run mkdocs gh-deploy
